body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-box {
  background-color: rgba(90, 88, 85, 0.363);
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  grid-gap: 34px;
  margin-top: 8px;
}

.list-box-warp {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 12px;
}

.img-tag {
  width: 30px;
  height: 20px;
  margin-right: 8px;
}
.dot {
  background-color: greenyellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.ant-layout {
  min-height: 100vh;
}

.title-course {
  font-size: 40px;
}